
.container{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50%;
    
}

#imgColor{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.box-right{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.gris{
    color:gray
}
.zoom
{
    transition: transform .2s;
}
.zoom:hover {
    transform: scale(1.0); 
}