
.coche{
  width: 100%;
  text-align:center;
  margin: 0px auto;
  margin-top: 30px;
  transition: all 0.3s;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
}

.coche:hover{
  background-color: rgb(219, 219, 219);
}
.tituloCoche{
  text-align: center;
}

.precioCoche{
  color: rgb(161, 160, 160);
  opacity: 0.7;
}

.tipoCoche{
  margin-top: 10px;
  padding: 0px 10px 0px 10px;
  background-color: rgb(161, 160, 160);
  border-radius: 30px;
  opacity: 1.2;
}

.imgCoche{
  width: 250px;
  height: 130px;
}

