<div
  *ngIf="configuracionesGaraje.length === 0; then thenBlock; else elseBlock"
></div>

<ng-template #thenBlock>
  <div class="texto">
    <h2>No existen configuraciones guardadas en el garaje</h2>
  </div>

  <div class="container">
    <img id="imgGarage" src="{{ garageImage }}" />
  </div>
</ng-template>

<ng-template #elseBlock>
  <div *ngFor="let car of configuracionesGaraje" class="car">
    <app-car
      [claseCoche]="car.nombre"
      [precioCoche]="car.precio"
      [imgUrl]="car.imagen"
    ></app-car>
  </div>
</ng-template>

<!-- <div class="container">
  <img id="imgGarage" src="{{garageImage}}">
</div> -->
