.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  width: 70%;


}


#imgGarage{
  width: 70%;
  padding-top: 10px;
  display:flex;
  justify-content: center;
  border-radius: 10px;
  margin-left: 10%;
  ;
}

.below{
  display:flex;
  flex-direction: column;
  row-gap: 10px;
}

p{
  text-decoration-color: black;
  justify-content: center;
  display:flex;
  flex-direction: row;

}

.texto{
  padding-top: 20px;
  padding-bottom: 20px;
  display:flex;
  flex-direction: column;

  align-items: center;

}
