<div class="contenedor">
  <div class="titulo">{{ nombre }}</div>
  <div class="precio">{{ precio }}</div>
  <ul class="caracteristicas" *ngFor="let carac of caracteristicas">
    <li class="lista">{{ carac }}</li>
  </ul>
  <tr class="detalles" *ngFor="let keyValue of detalles.entries()">
    <td class="fila">{{ keyValue[0] }}</td>
    <td class="fila">{{ keyValue[1] }}</td>
  </tr>
  <div aling="right">
    <button type="button" class="seleccionar" (click)="seleccionar()">
      Seleccionar
    </button>
  </div>
</div>
