<div class="container">
  <div class="top">
    <img id="imgCar" src="{{ imagen }}" />
  </div>
  <div class="below">
    <app-pintura
      class="pintura"
      [nombre]="'Estándar'"
      [descripcion]="'MANUFAKTUR rojo Patagonia metalizado'"
      [imagen]="
        'https://assets.oneweb.mercedes-benz.com/bbd/images/v1/5142/4/27/00cab7e8fcab1218525c72558f70f0ff3846f.jpg'
      "
      [precio]="'1.264,45 €'"
    ></app-pintura>
    <app-pintura
      class="pintura"
      [nombre]="'Piel'"
      [descripcion]="'MANUFAKTUR gris montaña magno'"
      [imagen]="
        'https://assets.oneweb.mercedes-benz.com/bbd/images/v1/5142/5/cd/79fa24ef3d5d123a848e39cae239a726698c5.jpg'
      "
      [precio]="'2.462,35 €'"
    ></app-pintura>
    <app-pintura
      class="pintura"
      [nombre]="'Piel'"
      [descripcion]="'Azul denim metalizado'"
      [imagen]="
        'https://assets.oneweb.mercedes-benz.com/bbd/images/v1/5142/4/98/020b20265132bd16d0410cda0011af6c0c072.jpg'
      "
      [precio]="'786,50 €'"
    ></app-pintura>
    <app-pintura
      class="pintura"
      [nombre]="'Cuero Estándar'"
      [descripcion]="'Blanco digital metalizado'"
      [imagen]="
        'https://assets.oneweb.mercedes-benz.com/bbd/images/v1/5142/b/41/c6fa4a348432d1f35bc0aae8471780aacc0b4.jpg'
      "
      [precio]="'786,50 €'"
    ></app-pintura>
    <app-pintura
      class="pintura"
      [nombre]="'Cuero Estándar'"
      [descripcion]="'Negro noche'"
      [imagen]="
        'https://assets.oneweb.mercedes-benz.com/bbd/images/v1/5142/d/73/b618c33581e9886225469337fc813e10ea5ee.jpg'
      "
      [precio]="'300,00 €'"
    ></app-pintura>
    <app-pintura
      class="pintura"
      [nombre]="'Cuero Estándar'"
      [descripcion]="'Blanco polar'"
      [imagen]="
        'https://assets.oneweb.mercedes-benz.com/bbd/images/v1/5142/a/09/b5c53691d0f84b6a40446a9389d32ef1eb2d9.jpg'
      "
      [precio]="'254,10 €'"
    ></app-pintura>
  </div>
</div>
