<div class="container">
  <div class="top">
    <img id="imgCar" src="{{ imagen }}" />
  </div>
  <div class="below">
    <app-configuracion-tarjeta
      class="pintura"
      [nombre]="'Símil de cuero ARTICO'"
      [descripcion]="'tela Fleron negro'"
      [imagen]="
        'https://assets.oneweb.mercedes-benz.com/bbd/images/v1/5142/f/50/483d4c560595aea4329683c24ab75afcb29b0.jpg'
      "
      [precio]="'1.264,45 €'"
    ></app-configuracion-tarjeta>
    <app-configuracion-tarjeta
      class="pintura"
      [nombre]="'Cuero marrón'"
      [descripcion]="'Cuero marrón bahía negro'"
      [imagen]="
        'https://assets.oneweb.mercedes-benz.com/bbd/images/v1/5142/6/26/58a703ba52533169f204d1c35f050af456ac3.jpg'
      "
      [precio]="'2.462,35 €'"
    ></app-configuracion-tarjeta>
    <app-configuracion-tarjeta
      class="pintura"
      [nombre]="'Símil de cuero ARTICO'"
      [descripcion]="'tela Fleron marrón bahía negro'"
      [imagen]="
        'https://assets.oneweb.mercedes-benz.com/bbd/images/v1/5142/4/66/04cdbc1169b114beab6d9893d4017441a956b.jpg'
      "
      [precio]="'786,50 €'"
    ></app-configuracion-tarjeta>
    <app-configuracion-tarjeta
      class="pintura"
      [nombre]="'Cuero'"
      [descripcion]="'Cuero negro'"
      [imagen]="
        'https://assets.oneweb.mercedes-benz.com/bbd/images/v1/5142/b/0e/39d4370bce7cd46d9fea7f15f9fd93aaa1db3.jpg'
      "
      [precio]="'786,50 €'"
    ></app-configuracion-tarjeta>
  </div>
</div>
