<div class="container">
    
    <img id="imgCar" src="{{imagen}}">

<div class="below"> 
    <p> 
    <app-configuracion-tarjeta> </app-configuracion-tarjeta>
    <app-configuracion-tarjeta> </app-configuracion-tarjeta>
    <app-configuracion-tarjeta> </app-configuracion-tarjeta> <p> 
    <!--<p class="two"></p> -->
    <p> 
        <app-configuracion-tarjeta> </app-configuracion-tarjeta>
        <app-configuracion-tarjeta> </app-configuracion-tarjeta>
        <app-configuracion-tarjeta> </app-configuracion-tarjeta> <p> 
        
</div>
</div>
