.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 75%;
    margin-left: 10%;


}
#imgCar{
    display:flex;
    justify-content: auto;
    border-radius: 10px;
}
.below{
    display:flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 100%;
    row-gap: 10px;
    justify-items: left;
}

.top
{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 10px;
}

.pintura{
  width: 50%;
}
