<footer>
  <div class="container">
    <div class="header">
      <h4> MIEMBROS DEL EQUIPO </h4>
    </div>
    <div class="inside">
      <div class="colleft">
        <ul>
          <li>
            <label> Alberto Arroyo Cárdenas </label>
            <a href="https://github.com/alberto-arroyo"> <img src="./assets/github.png"> </a>
          </li>
          <li>
            <label> David Gómez López </label>
            <a href="https://githhub.com/DavidGL99"> <img src="./assets/github.png"> </a>
          </li>
          <li>
            <label> Mohamed Hnina </label>
            <a href="https://github.com/MohaHnina"> <img src="./assets/github.png"> </a>
          </li>
          <li>
            <label> Guillermo Montalban Martínez</label>
            <a href="https://github.com/GuillermoMontalbanMartinez"> <img src="./assets/github.png"> </a>
          </li>
          <li>
            <label> Jorge Mora Campoy</label>
            <a href="https://github.com/Jorge617"> <img src="./assets/github.png"> </a>
          </li>
        </ul>
      </div>

      <div class="colright">
        <ul>
          <li>
            <label> Hunor Moriczi </label>
            <a href="https://github.com/h1r09"> <img src="./assets/github.png"> </a>
          </li>
          <li>
            <label> Ioan Stefan Toderic </label>
            <a href="https://github.com/it557"> <img src="./assets/github.png"> </a>
          </li>
          <li>
            <label> Alejandro Tomás Soto Meca </label>
            <a href="https://github.com/AlejandroTSoto"> <img src="./assets/github.png"> </a>
          </li>
          <li>
            <label> Ruben Valentin Lopez </label>
            <a href="https://github.com/Ruben659"> <img src="./assets/github.png"> </a>
          </li>
          <li>
            <label> Juan Diego Ortega Aranda </label>
            <a href="https://github.com/joa102"> <img src="./assets/github.png"> </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
<footer>
