
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #000;
}

.svg {
  width: 40px;
}

.button-menu {
  text-align: left;
}

.mat-toolbar {
  background-color: #000;
}

.font {
  font-family: Corporate A BQ Light Font;
}

#boton{
  top:0;
}






